[package]
name = "engine"
version = "0.1.0"
edition = "2021"

[lib]
name = "engine"
crate-type = ["cdylib"]

[dependencies]
cxx = "1.0.124"
homedir = "0.3.3"
libloading = "0.8.5"
once_cell = "1.19.0"
static_init = "1.0.3"
# v8 = "0.102.0"

[build-dependencies]
homedir = "0.3.3"
bindgen = "0.69.4"
cbindgen = "0.26.0"
